<!-- Copyright -->
      <section class="pt-4 pb-4 text-center">
         <p class="mt-0 mb-0">© Copyright 2018 Infinitydev44. All Rights Reserved</p>
         <small class="mt-0 mb-0">
         Made with <i class="mdi mdi-heart text-danger"></i>	by 
         <a class="text-dark" target="_blank" href="https://askbootstrap.com/">Infinitydev44</a>
         </small>
      </section>