<!-- Footer -->
      <section class="section-padding footer bg-white">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-3">
                  <h4 class="mb-5"><a class="text-success logo" href="index.html"><i class="mdi mdi-home-map-marker"></i> <strong>Infinitydev44</strong></a></h4>
                  <p>157 rue du croissant, Nantes<br>Loire-Atlantique, France 44300</p>
                  <p class="mb-0"><a class="text-dark" href="#">+33 07 67 03 68 48</a></p>
                  <p class="mb-0"><a class="text-success" href="#">infinitydev44@gmail.com</a></p>
                  <p class="mb-0"><a class="text-info" href="#">www.eguard.herokuapp.com.com</a></p>
               </div>
               <div class="col-lg-2 col-md-2">
                  <h6 class="mb-4">COMPANY</h6>
                  <ul>
                  <li><a href="#">A propos</a></li>
                  <li><a href="#">Carière</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Properties</a></li>
                  <li><a href="#">Contact</a></li>
                  <ul>
               </div>
               <div class="col-lg-2 col-md-2">
                  <h6 class="mb-4">LEARN MORE</h6>
                  <ul>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Account</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Blog</a></li>
                  <ul>
               </div>
               <div class="col-lg-4 col-md-4">
                  <h6 class="mb-4">NEWSLETTER</h6>
                  <div class="input-group">
                     <input type="text" class="form-control" placeholder="Email Address..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                     <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"></button>
                     </div>
                  </div>
                  <h6 class="mb-4 mt-5">GET IN TOUCH</h6>
                  <div class="footer-social">
                     <a href="#"><i class="mdi mdi-facebook"></i></a>
                     <a href="#"><i class="mdi mdi-twitter"></i></a>
                     <a href="#"><i class="mdi mdi-instagram"></i></a>
                     <a href="#"><i class="mdi mdi-google"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Footer -->