<!-- Main Slider With Form -->
      <section class="osahan-slider">
         <div id="map"></div>
         <div class="slider-form inner-page-form map-slider-form">
            <div class="container">
               <form>
                  <div class="row no-gutters">
                     <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="input-group">
                           <div class="input-group-addon"><i class="material-icons">my_location</i></div>
                           <select class="form-control select2" name="location">
                              <option disabled="" selected="">Ville</option>
                              <option>Nantes</option>
                              <option>Angers</option>
                              <option>La Baule</option>
                              <option>Pornic</option>
                              <option>Rennes</option>
                              <option>Tours</option>
                              <option>La Rochelle</option>
                              <option>Niort</option>
                              <option>La Roches-sur-Yon</option>
                              <option>St-Nazaire</option>
                              <option>Carquefou</option>
                              <option>Vertou</option>
                              <option>St-sebastien</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="input-group">
                           <div class="input-group-addon"><i class="material-icons">Language</i></div>
                           <select class="form-control select2" name="location">
                              <option disabled="" selected="">Langue</option>
                              <option>Français</option>
                              <option>Arabe</option>
                              <option>Espagnol</option>
                              <option>Chinois</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="input-group">
                           <div class="input-group-addon"><i class="material-icons">shedule</i></div>
                           <select class="form-control select2" name="location">
                              <option disabled="" selected="">Spécialités</option>
                              <option>Agent-type</option>
                              <option value="">Agent de surveillance</option>
                              <option value="">Agent de Sécurité</option>
                              <option value="">Agent de Proximité</option>
                              <option value="">Agent de Guardiennage</option>
                              <option value="">Agent Cynophile</option>
                              <option value="">Agent Diplomatique</option>
                              <option value="">Agent de Sécurité Incendie</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="input-group">
                           <div class="input-group-addon"><i class="material-icons">person_pin_circle</i></div>
                           <select class="form-control select2" name="location">
                              <option disabled="" selected="">Min Rayon</option>
                              <option>1 km</option>
                              <option>2 km</option>
                              <option>3 km</option>
                              <option>4 km</option>
                              <option>5 km</option>
                              <option>6 km</option>
                              <option>7 km</option>
                              <option>8 km</option>
                              <option>9 km</option>
                              <option>10 km</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="input-group">
                           <div class="input-group-addon"><i class="material-icons">wc</i></div>
                           <select class="form-control select2" name="location">
                              <option disabled="" selected="">Min Rayon</option>
                              <option>100m</option>
                              <option>200m</option>
                              <option>300m</option>
                              <option>400m</option>
                              <option>500m</option>
                              <option>600m</option>
                              <option>700m</option>
                              <option>800m</option>
                              <option>900m</option>
                              <option>1000m</option>
                           </select>
                        </div>
                     </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="material-icons">my_location</i></div>
                        <select class="form-control select2" name="location">
                            <option disabled="" selected="">Max Rayon</option>
                            <option>1000m</option>
                            <option>2000m</option>
                            <option>3000m</option>
                            <option>4000m</option>
                            <option>5000m</option>
                            <option>6000m</option>
                            <option>7000m</option>
                            <option>8000m</option>
                            <option>9000m</option>
                            <option>10000m</option>
                        </select>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="input-group">
                           <div class="input-group-addon"><i class="material-icons">group</i></div>
                           <select class="form-control select2" name="location">
                              <option disabled="" selected="">Nb Agent</option>
                              <option>Nb Agent</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="input-group">
                           <button type="submit" class="btn btn-success btn-block no-radius font-weight-bold">Chercher</button>   
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </section>
      <!-- End Main Slider With Form -->